.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body[scheme=space_gray]{
  /*--background_content: #181818 !important;*/
  /*--separator_common: #919191 !important;*/
  /*--content_tint_background: #B0BFC2 !important;*/
}
.marketProgress{
  height: 8px !important;
  margin-right: 5px;
  border-radius: 5px !important;
}
.marketProgress.marketProgressClose .vkuiProgress__in{
  background: var(--dynamic_gray);
}
.marketProgress.marketProgressPre .vkuiProgress__in{
  background: var(--dynamic_orange);
}
.marketProgress.marketProgressOpen .vkuiProgress__in{
  background: var(--dynamic_green);
}
.marketProgress.marketProgressPost .vkuiProgress__in{
  background: var(--blue_200);
}
.marketProgress.marketProgressClose{
  background: var(--loader_track_fill);
}
.marketProgress.marketProgressPre{
  background: #ffa0007F;
}
.marketProgress.marketProgressOpen{
  background: #4bb34b80;
}
.marketProgress.marketProgressPost{
  background: #5c9ce69e;
}
.marketProgress .vkuiProgress__in{
  background: inherit;
  margin-right: 1%;
}
.marketProgress .vkuiProgress__bg{
  background: inherit;
  opacity: 0.5;
}